{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["styled-jsx/babel", { "plugins": ["styled-jsx-plugin-sass"] }],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      },
      {
        "libraryName": "bizcharts",
        "style": true}
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "dist": "./dist",
          "components": "./src/components",
          "views": "./src/views",
          "config": "./src/config"
        }
      }
    ]
  ]
}
